<div class="min-h-screen flex">
    <!-- Sidebar -->
    <app-sidebar [active]="this.sidebarActive" />

    <!-- Main Content -->
    <div [ngClass]="sidebarActive ? 'ml-64' : 'ml-12'" class="flex-grow">
        <header class="bg-blue-600 text-white p-4">
            <div class="  mx-auto flex justify-between items-center">
                <h1 class="text-2xl font-bold m-0 p-0">B P</h1>

            </div>
        </header>
        <router-outlet />

        <!-- Footer -->
        <footer class="bg-gray-800 text-white p-4">
            <div class="container mx-auto text-center">
                <p>&copy; 2024 Budget Planner. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>